@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-Bold.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-BoldItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-ExtraLight.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-ExtraLightItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-Italic.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-Light.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-LightItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-Regular.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-SemiBold.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM';
    src: url('CaskaydiaCoveNFM-SemiBoldItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM SemiLight';
    src: url('CaskaydiaCoveNFM-SemiLightItalic.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-SemiLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CaskaydiaCove NFM SemiLight';
    src: url('CaskaydiaCoveNFM-SemiLight.woff2') format('woff2'),
        url('CaskaydiaCoveNFM-SemiLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

